@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}


:root {
    /* Color */
    /* Primary color */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral color*/
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --white: hsl(0, 0%, 100%);
    /* Font */
    --ff-red-hat-display: 'Red Hat Display', sans-serif;

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;
}

body {
    font-family: var(--ff-red-hat-display);
    max-width: 100%;
    min-height: 100vh;
}